
body {
    text-align: center;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

head {
    text-align: center;
}
h1 {
    color: #545151;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



h2 {
    color: #545151;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    color:#545151
}
.church {
  border: 5px solid #ffffff;
}
.tree {
  border: 5px solid #ffffff;
}
.outside {
  border: 5px solid #ffffff;
}
td {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

@media (max-width: 599px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  table {
    font-size: 0.8rem;
    width: 100%;
  }

  td {
    padding-left: 5px;
  }
}